
  
input{color:blue;}
  

 
  
  
input[type="email"],input[type="text"],input[type="tel"]{
    background:rgba(255,255,255,1);
    height:40px;
    border:1px solid rgb(1, 2, 58);
    padding:0 20px;
    margin:20px 0;
    border-radius: 10px;
}

  
textarea{
    display:block;
    width:350px;
    padding:20px;
    border:1px solid rgb(1, 2, 58) !important;
    margin:20px 0;
    min-height:250px;
    font-family: 'Sawasdee', sans-serif;
    font-size:1.1em;
    border-radius: 10px !important;
    color:blue;
}
  
input[type="submit"]{
  text-decoration:none;
  color:#F7F7F8;
  display:block;
  background:linear-gradient(to bottom, blue, black);
  padding:20px 50px;
  border-radius:5px;
  border:1px solid rgb(1, 2, 58) !important;
  box-shadow:0 0 0 1px #FFF0D2 inset, 0 2px 2px #d0c2de;
  margin:auto;
  border-radius: 10px;
}

  
  