header {
	width: 100% !important;
	background: rgb(17, 49, 109);
	display: inline-block;
	box-shadow: 0px 1px 5px DimGray;
	padding: 0;
	margin: 0;
}


.photo{
    border-radius: 50%;
    height: 200px; 
    width: auto;
	margin: 48px 0 20px 0px; 
    box-shadow: 0 2px 2px purple;
	border: 2px solid rgb(1, 2, 58);
	text-align: center;
}

.prenom{
  	border: 1.5px solid rgb(1, 2, 58);
	border-radius: 20px;
	font-size: 35px;
    font-weight: 700;
	box-shadow: 0 2px 2px purple;
	color: antiquewhite;
	text-align: center;
	display: inline-block;
    padding: 0.2em 0.5em;
}

.kicker {

	text-align: center;
	color: HoneyDew;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;

}

nav ul a {
	text-decoration: none;
	color: HoneyDew;
	font-weight: 700;
	text-transform: uppercase;
}

nav ul {

	list-style: none;
}

.menu-nav {

	text-align: center;
	margin-right: 34px
}

.menu {
    display: inline-block;
    padding: 50px;
    margin-right: 10px;
    color: HoneyDew;
    letter-spacing: 0.2em;
    text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
}

.menu-nav a:hover {

	color: aquamarine ;
  text-decoration: overline;
}




.source, .source-boxy {
	font-weight: 500;
	font-family:Rockwell, sans-serif;
	padding: 3px;
	text-transform: uppercase;

}

.source-boxy{
    background-color: HotPink;

}

.source a {
	text-decoration: none;
}

.source a:hover {
	color: HotPink;
	text-decoration: underline;
}

.references {
	position: fixed;
	margin-left: 15px;
	margin-top: 10px;
	z-index: 0;

}


h2 {
	font-family: ArialBlack, Rockwell, sans-serif;
	text-align: center;
	font-size: 25px;
	text-decoration:  underline;
}


.bright {
  box-shadow: 0px 0px 50px HotPink;
}

#flipin {
  text-decoration: overline;
  text-shadow: 0px 1px 2px #404958;

}

#thelast {
  margin-top: 40px;
}

@media(max-width: 850px){

	.menu {
		display: block;
		background-color: transparent;
		padding: 12px;
		margin: 0px auto;
		font-family: RockWell, sans-serif;
	}

	.menu a:hover {
	color: aquamarine;
	text-decoration: overline;
	}

	.resizeableheader {
	margin: 0px auto;
	}

}
@media(max-width:1230px){
  .references {
    display:none;
  }

}