body{
    font-size:100%;
    font-family: 'Sawasdee', sans-serif;
    max-width: 100%;
    background-color: pink;
    padding: 0 !important;
    margin: 0 !important;
}

h1{
    color: antiquewhite;
}

h2{
    color: antiquewhite;
}

h4{
    color: rgb(1, 2, 58);
}

h5{
    color: antiquewhite;
}

.container{
    margin: auto;
    padding: auto;
    text-align: center;
  }